.list-container{
    display: flex;
    align-items: center;
    gap: 18.5rem;
    margin-top: 0.5rem;
    border-left: 7px  solid ;
    border-top: 1px  solid;
    border-right: 1px  solid;
    border-bottom: 1px  solid;
    padding: 2rem;
    border-radius: 15px;
    border-color: #A8E6CF;


}
.list-item {
    font-size: 1rem;
    color: #333;
  }
  
  .list-icon {
    width: 80px;
    height: 60px;
    object-fit: contain;
  }